@import 'base/variables';

// foundation
@import 'base/foundation-settings';
@import 'foundation';
@include foundation-everything;

// Components
@import 'components/nav';
@import 'components/clock';
@import 'components/controls';
@import 'components/countdown';

body {
  background-color: $body-background-color;
}

.page-title {
  margin: 0;
  margin-top: 1.5rem;
  text-align: center;
}

.label {
  font-size: 1.2rem;
}
