@import 'base/variables';
@import 'components/nav';
@import 'components/clock';
@import 'components/controls';

body {
  background-color: $body-background-color;
}

.page-title {
  margin: 2rem 0;
  text-align: center;
}
