// body
$body-background-color: #e3e3e3;

// Navigation
$nav-background-color: #333;
$nav-text-color: white;

// Clock
$clock-text-color: white;
$clock-background-color: #018bbc;
$clock-border-color: #209988;
