// colors
$color-success: #3adb76;
$color-warning: #df9900;

// body
$body-background-color: #e3e3e3;

// Navigation
$nav-background-color: #333;
$nav-text-color: #fff;

// Clock
$clock-text-color: #fff;
$clock-background-color: $nav-background-color;
$clock-border-color: #2199e8;
