.clock {

  align-items: center;
  background-color: $clock-background-color;
  border: 5px solid $clock-border-color;
  border-radius: 50%;
  display: flex;
  height: 20rem;
  justify-content: center;
  margin: 1.5rem auto;
  width: 20rem;

  &.clock-running {
    border-color: $color-success;
  }

  &.clock-paused {
    border-color: $color-warning;
  }

  .clock-text {
    color: $clock-text-color;
    font-size: 3rem;
    font-weight: 300;
  }
}
